

.footer {
    background-color: #8EC0E4;
    height: auto;
    padding-top: 40px;
    padding: 20px;
    bottom: 0;
    display: flex;
    flex-direction: row;
    display: flex;
    justify-content: center;
    max-width: 1200px;
}

.footer_container{
    background-color: #8EC0E4;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    text-align: left;
    margin-top: 20px;
    width: 150px;
}

.footer_container_logo{
    background-color: #8ec0e400;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    flex-direction: column;
    text-align: left;
    margin-top: 20px;
    width: 100%;
}

.footer_container_logo img{
    width: 150px;
}

.footer_container h3{
    background-color: #8EC0E4;
    font-family: Georgia, "Times New Roman", serif;
    font-size: 15px;
    font-weight: 600;
    color: rgb(20, 20, 20);
}

.footer_container img{
    width: 200px;
}

.footer_container ul{
    background-color: #8EC0E4;
    list-style: none;
    margin-bottom: 20px;
}

.footer_container ul li{
    display: flex;
    margin-top: 5px;
}

.footer_container ul li a{
    background-color: #8EC0E4;
    text-decoration: none;
    color: rgb(30, 30, 30);
    font-size: 13px;
    font-weight: 400;
}
.footer_bottom{
    height: 20px;
    background-color: #8EC0E4;
    max-width: 1200px;
}
.footer_bottom p{
    background-color: #8EC0E4;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.footer_logo{
    display: flex;
}

@media screen and (max-width: 850px){
    .footer {
        display: flex;
        flex-direction: column;
    }
    .footer_container_logo{
        margin-top: -130px;
    }
}