@font-face{
    font-family: "roman";
    src: url("../font/timesnewroman.ttf")
}

@font-face{
    font-family: "NanumMyeongjo";
    src: url("../font/NanumMyeongjo.ttf")
}

@font-face{
    font-family: "NanumBarunGothic";
    src: url("../font/NanumBarunGothic.ttf")
}

.mypage_container {
    width: 100%;
    height: 100%;
    margin-top: 50px;
}

.mypage_userInfo{
    margin-top: 70px;
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.userInfo_img {
    width: 200px;
    margin: 0px 50px;
}

.userInfo_img img{
    border: solid 0px;
    border-radius: 100px;
}

.userInfo_detail{
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 10px;
}

.userInfo_detail span{
    padding-top: 2px;
    padding-bottom: 2px;
    font-family: "NanumMyeongjo";
    font-weight: 600;
    word-spacing: 7px;
}

.mypage_tabContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.mypaga_tabMenu{
    width: 700px;
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
    text-align: center;
    cursor: pointer;
    border-bottom: solid 2px;
    border-color: #8EC0E4;
    padding: 20px;
}

.mypaga_tabMenu li{
    font-family: "NanumMyeongjo";
    font-weight: 800;
    color: #8EC0E4;
}

.currentTab{
    padding-top: 20px;
    width: 700px;
    height: 200px;
    justify-content: flex-start;
    margin: 0px 55px;
}
.currentTab p{
    font-family: "NanumMyeongjo";
    width: auto;
}

.mypage_footer{
    position: fixed;
    bottom: 0;
}