.test {
    width: 100%;
    height: 100%;
    margin-top: 50px;
}

.test_container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.test_arrow_left {
    display: flex;
    justify-content: center;
}

.test_arrow_right {
    display: flex;
    justify-content: center;
}

.arrow {
    font-size: 70px;
    background-color: #8ec0e400;
    color: #8EC0E4;
}

.test_imgbox{
    display: flex;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
}

.test_img{
    width: 300px;
    height: 630px;
    padding: 20px;
    margin: 20px;
    background-color: #8EC0E4;
    border: solid 0px;
    border-radius: 20px;
}

.test_img img{
    width: 250px;
}

.slide {
    opacity: 0;
    transition-duration: 1s ease;
  }
  
  .slide.active {
    opacity: 1;
    transition-duration: 1s;
    transform: scale(1.08);
  }