.test{
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
  height: 1200px;
  background-color: rgb(249, 240, 227);
}

.test_container {
  width: 1000px;
  height: 500px;
  margin-top: 150px;
  border: solid 0px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slick-slide {
  height: 320px;
  border-radius: 10px;
  box-sizing: border-box;
}

.test_imgbox{
    display: flex;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;
}

.test_text {
  font-size: 20px;
  font-family: "NanumMyeongjo";
}

.slick-slide img {
  object-fit: cover;
  height: 300px;
  width: 300px;
  box-sizing: border-box;
}